# 조건문 연습

## Exercises (1)

* 사용자로부터 나이를 입력받아(input("Enter your age: "))
* 18세 이상이면: “You are old enough to drive.” 출력
* 18세 미만이면: 부족한 나이만큼 기다리라고 안내

In [ ]:
# output example
Enter your age: 30
You are old enough to learn to drive.

In [ ]:
# output example
Enter your age: 15
You need 3 more years to learn to drive.

## Exercises (2)
* my_age와 your_age를 비교 (input("Enter your age: ")으로 입력받기)
* 누가 더 나이가 많은지 출력
  * 나이 차이가 1이면 year, 그 이상이면 years로 표시
  * 같은 나이면 다른 문구 출력

In [ ]:
# Output example
Enter your age: 30
You are 5 years older than me.

## Exercises (3)
* 점수에 따라 학점을 부여하는 코드 작성:

|점수|학점|
|:--:|:--:|
|80–100	|A|
|70–89	|B|
|60–69	|C|
|50–59	|D|
|0–49	  |F|

## Exercises (4)
* 계절 구하기 프로그램 작성
* 입력된 달(month)에 따라 계절 출력
|월|계절|
|:--:|:--:|
|September, October, November|Autumn|
|December, January, February	|Winter|
|March, April, May	|Spring|
|June, July, August	|Summer|

# 반복문 연습

## Exercises (1)
* 0부터 10까지 for, while 문으로 반복하기
* 10부터 0까지 거꾸로 반복하기

## Exercises (2)
* 0~100 사이 짝수, 홀수만 각각 출력

* 0~100까지 모든 수의 합 출력 → 5050

* 0~100까지 짝수 합과 홀수 합 각각 출력 → 짝수 합 = 2550, 홀수 합 = 2500

## Exercises (3)
* 다음 모양 출력하기:

In [ ]:
#
##
###
####
#####
######
#######

# 리스트 컴프리핸션

## Exercises (1)
* 아래 리스트에서 음수와 0만 필터링하여 새 리스트를 만드세요.

In [ ]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

In [ ]:
negatives_and_zero = [i for i in numbers if i <= 0]
print(negatives_and_zero)
# [-4, -3, -2, -1, 0]

## Exercises (2)
* 중첩 리스트 평탄화 (Flattening a 3D List): 아래와 같은 3중 리스트를 1차원 리스트로 변환하세요.

In [ ]:
list_of_lists = [[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

In [ ]:
flattened = [num for sublist1 in list_of_lists for sublist2 in sublist1 for num in sublist2]
print(flattened)
# [1, 2, 3, 4, 5, 6, 7, 8, 9]

## Exercises (3)
* 튜플 리스트 만들기: 아래와 같은 규칙을 가진 튜플들의 리스트를 리스트 컴프리헨션으로 만드세요.

In [ ]:
(0, 1, 0, 0, 0, 0, 0)
(1, 1, 1, 1, 1, 1, 1)
(2, 1, 2, 4, 8, 16, 32)
...
(10, 1, 10, 100, 1000, 10000, 100000)

In [ ]:
tuples_list = [(i, 1, i**1, i**2, i**3, i**4, i**5) for i in range(11)]
print(tuples_list)